<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="vandy.mooc.uniqueidgen">

    <application
        android:allowBackup="true"
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity
            android:name=".activities.UniqueIDGenActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <service
            android:name=".services.UniqueIDGenService"
            android:exported="true"
            android:process=":IdService">
        </service>
    </application>
</manifest> 
